__pycache__
.env
.venv
.python-version
.DS_Store
.idea
scrape_trials
poop.py
poopoo.txt
poopoo1.txt
dominos*
**/*.pkl
*.mp4
*.zip
WAS
nohup.out
uvicorn.log
canvas.json
gradescope.json
api_agent/credentials.json
api_agent/token.pickle
api_agent/jcsandbox.py
