aiofiles==24.1.0
aiohappyeyeballs==2.3.5
aiohttp==3.10.2
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.6.0
anthropic==0.18.1
anyio==4.2.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.2
bidict==0.23.1
blinker==1.8.2
build==1.0.3
cachetools==5.3.2
cerebras_cloud_sdk==1.0.0
certifi==2023.11.17
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.22
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
contourpy==1.2.0
cssselect==1.2.0
cycler==0.12.1
dataclasses-json==0.6.3
datasets==2.14.7
decorator==5.1.1
demjson3==3.0.6
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.7
dirtyjson==1.0.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.6.1
docopt==0.6.2
docstring-parser==0.15
docx2txt==0.8
dspy==0.1.5
dspy-ai==2.4.5
eval_type_backport==0.2.0
exceptiongroup==1.2.0
fastapi==0.109.2
fastembed==0.2.7
filelock==3.13.1
Flask==3.0.3
Flask-SocketIO==5.3.7
flatbuffers==23.5.26
fonttools==4.47.0
frozenlist==1.4.1
fsspec==2023.12.2
google-ai-generativelanguage==0.4.0
google-api-core==2.17.0
google-auth==2.27.0
google-generativeai==0.3.2
googleapis-common-protos==1.62.0
greenlet==3.0.1
groq==0.9.0
grpcio==1.64.0
grpcio-status==1.60.1
grpcio-tools==1.64.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html2text==2020.1.16
httpcore==1.0.2
httptools==0.6.1
httpx==0.26.0
huggingface-hub==0.20.2
humanfriendly==10.0
hyperframe==6.0.1
idna==3.6
importlib-metadata==6.11.0
importlib-resources==6.1.1
pip-install==1.3.5
itsdangerous==2.2.0
Jinja2==3.1.3
jiter==0.6.1
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
kiwisolver==1.4.5
kubernetes==29.0.0
lancedb==0.3.6
langchain==0.0.352
langchain-community==0.0.6
langchain-core==0.1.3
langsmith==0.0.75
Levenshtein==0.25.1
llama-index==0.9.46
llama-index-core==0.10.56
llama-index-embeddings-openai==0.1.11
llama_cpp_python==0.2.28
loguru==0.7.2
lxml==4.9.4
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.2
mdurl==0.1.2
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
numpy==1.26.3
oauthlib==3.2.2
onnx==1.16.1
onnxruntime==1.17.0
openai==1.51.2
opencv-python==4.9.0.80
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-instrumentation==0.43b0
opentelemetry-instrumentation-asgi==0.43b0
opentelemetry-instrumentation-fastapi==0.43b0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
opentelemetry-util-http==0.43b0
optuna==3.6.1
overrides==7.7.0
packaging==23.2
pandas==2.1.4
parsel==1.6.0
pillow==10.4.0
pipreqs==0.4.13
playwright==1.40.0
plotly==5.18.0
portalocker==2.8.2
posthog==3.4.0
prettytable==3.9.0
prompt-toolkit==3.0.36
proto-plus==1.23.0
protobuf==5.26.1
pulsar-client==3.4.0
py==1.11.0
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydantic==2.8.2
pydantic_core==2.20.1
pyee==11.0.1
Pygments==2.17.2
pylance==0.8.21
pymemgpt==0.3.1
pyparsing==3.1.1
pypdf==3.17.4
PyPika==0.48.9
pyproject_hooks==1.0.0
python-box==7.1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-engineio==4.9.1
python-multipart==0.0.10
python-socketio==5.11.3
pytz==2023.3.post1
PyYAML==6.0.1
qdrant-client==1.9.1
questionary==2.0.1
rapidfuzz==3.9.5
ratelimiter==1.2.0.post0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
retry==0.9.2
rich==13.7.0
rsa==4.9
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
semver==3.0.2
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.23
sqlalchemy-json==0.7.0
starlette==0.36.3
structlog==24.1.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
threadpoolctl==3.2.0
tiktoken==0.5.2
together==1.2.7
tokenizers==0.15.0
tomli==2.0.1
torch==2.2.0
tqdm==4.66.5
transformers==4.36.2
typer==0.9.0
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
ujson==5.10.0
urllib3==2.1.0
uvicorn==0.27.0.post1
uvloop==0.19.0
w3lib==2.1.2
watchfiles==0.21.0
wcwidth==0.2.13
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.3
wrapt==1.16.0
wsproto==1.2.0
xxhash==3.4.1
yarg==0.1.9
yarl==1.9.4
zipp==3.17.0